{% extends 'back.html.twig'%}
{% block content %}


    <ul class="nav navbar-nav float-right">
        <li class="nav-item"><a class="btn btn-success btn-doc-header"   href="{{ path('upload') }}"   target="_blank"><i class="fa fa-life-ring"></i>Ajouter</a></li>
    </ul>
    <section id="cardAnimation" class="cardAnimation">
        <div class="row">
            <div class="col-12 mb-3">
                <h4>Documents</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            {%  for i in f %}
            <div class="col-md-4 col-sm-12">
                <div class="card box-shadow-0 animated fadeInLeft" data-appear="appear" data-animation="fadeInLeft">
                    <div class="card-header white bg-blue-grey">
                        <h4 class="card-title white">{{ i.getSpec() }}</h4>

                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body border-bottom-blue-grey">

                                <img src ="{{ asset('image/file.jpg')}}" width="150px" height="150px">
                                <a href="{{ asset('image/' ~ i.nom) }}" >Download</a>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}