<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="icon"
      type="image/png"
      href="{{ asset('front/img/favicon.png') }}">






    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>


</html>